<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ece419lab4scripts_for_students 2/src/ClientDriver.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ClientDriver"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="localhost:8336 status 643a5688af1e7aeab0bb036b64b2a0b0"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ece419lab4scripts_for_students 2"/>
</launchConfiguration>
